@media (max-width: 1200px) {
  /* promo */
  .link {
    padding: 20px 65px;
    font-size: 20px;
  }

  .title {
    margin-bottom: 50px;
    font-size: 45px;
  }

  .promo__left {
    max-width: 250px;
  }

  .characteristics {
    max-width: 600px;
  }

  .characteristics__item {
    padding-left: 25px;
    font-size: 18px;
  }

  .characteristics__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .characteristics__item::before {
    width: 18px;
    height: 18px;
  }

  /* compound */
  .ingredient {
    max-width: 200px;
  }

  .ingredient__img-wrap {
    height: 150px;
  }

  .ingredient__descr {
    font-size: 14px;
  }

  .characteristics__item:not(:last-child) {
    margin-bottom: 20px;
  }

  /* reviews */
  .swiper__arrow-perv,
  .swiper__arrow-next {
    width: 50px;
    height: 50px;
  }

  .client {
    max-width: 600px;
  }

  .client__photo {
    max-width: 250px;
  }

  .client__name {
    font-size: 35px;
  }

  .client__review {
    font-size: 18px;
  }

  /*  second promo */
  .promo__descr {
    max-width: 650px;
    font-size: 18px;
  }

  /* order */
  .title--small {
    font-size: 35px;
  }

  .timer {
    font-size: 30px;
  }

  .timer__wrap {
    max-width: 500px;
  }

  .timer__text {
    font-size: 18px;
  }

  .product-card__img {
    max-width: 170px;
  }

  .product-card__price {
    font-size: 35px;
  }

  .form__input-wrap {
    margin-bottom: 30px;
    max-width: 400px;
  }

  .form__input {
    height: 55px;
  }

  .form__input::placeholder {
    font-size: 18px;
  }

  .form__btn {
    padding: 18px 50px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  /* promo */
  .link {
    font-size: 16px;
  }

  .promo__left {
    margin-right: 50px;
    max-width: 170px;
  }

  .characteristics {
    max-width: 500px;
  }

  .characteristics__item {
    padding-left: 20px;
    font-size: 14px;
  }

  .characteristics__item:not(:last-child) {
    margin-bottom: 14px;
  }

  .characteristics__item::before {
    width: 14px;
    height: 14px;
  }

  /* compound */
  .ingredient {
    max-width: 170px;
  }

  .ingredient__img-wrap {
    margin-bottom: 10px;
    height: 125px;
  }

  .ingredient__descr {
    font-size: 11px;
  }

  .compound__img {
    margin-bottom: 25px;
  }

  .client__photo {
    margin-bottom: 35px;
    max-width: 200px;
  }

  .client__name {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .client__review {
    font-size: 14px;
  }

  /* second promo */
  .promo__descr {
    max-width: 500px;
    font-size: 14px;
  }

  /* order */
  .timer__wrap {
    max-width: 430px;
  }

  .product-card {
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  /* promo */
  .link {
    padding: 14px 60px;
    font-size: 12px;
  }

  .title {
    margin-bottom: 30px;
    padding: 0;
    font-size: 30px;
  }

  .promo__left {
    width: 100%;
    max-width: 130px;
  }

  .characteristics {
    margin-bottom: 15px;
  }

  .characteristics__item {
    font-size: 12px;
  }

  .characteristics__item:not(:last-child) {
    margin-bottom: 10px;
  }

  /* compound */
  .compound__container {
    align-items: center;
    flex-wrap: wrap;
  }

  .compound__list {
    margin-bottom: 35px;
  }

  .compound__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .compound__center {
    width: 100%;
    order: 1;
  }

  .compound__img {
    max-width: 150px;
  }

  /* reviews */
  .reviews__wrap {
    padding: 0;
  }

  .client {
    max-width: 400px;
  }

  .client__photo {
    margin-bottom: 20px;
    max-width: 140px;
  }

  .client__name {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .client__review {
    font-size: 12px;
  }

  /* second promo */
  .promo-second .promo__left {
    margin-right: 30px;
    max-width: 150px;
  }

  .promo__descr {
    font-size: 12px;
  }

  .characteristics.characteristics--line {
    padding: 0 50px;
  }

  /* order */
  .timer {
    margin-bottom: 40px;
  }

  .product-card {
    margin-bottom: 30px;
    max-width: 200px;
  }

  .form {
    padding-top: 50px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }

  .section {
    padding: 30px 0;
  }

  /* promo */
  .title {
    text-align: center;
    font-size: 24px;
  }

  .promo__wrap {
    flex-direction: column;
    align-items: center;
  }

  .promo__left {
    margin: 0;
    margin-bottom: 30px;
    max-width: 150px;
  }

  .characteristics {
    margin-bottom: 20px;
  }

  .characteristics__item {
    font-size: 14px;
  }

  .characteristics__item:not(:last-child) {
    margin-bottom: 15px;
  }

  .promo__right {
    align-items: center;
  }

  .link {
    padding: 20px 80px;
    font-size: 16px;
  }

  /* compounds */
  .compound__container {
    flex-direction: column;
  }

  /* reviews */
  .reviews__wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .swiper__btn-prev {
    order: 1;
  }

  .swiper__btn-next {
    order: 2;
  }

  .swiper {
    width: 100%;
  }

  /* second promo */
  .promo-second__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__wrap {
    margin-bottom: 30px;
  }

  .promo__descr {
    text-align: center;
    max-width: 400px;
  }

  .characteristics.characteristics--line {
    flex-direction: column;
    margin: 0;
  }

  .characteristics--line .characteristics__item:not(:last-child) {
    margin: 0;
    margin-bottom: 10px;
  }

  /* order */
  .title--small {
    margin-bottom: 20px;
  }

  .timer {
    margin-bottom: 20px;
    font-size: 25px;
  }

  .timer__value {
    margin-bottom: 3px;
  }

  .timer__text {
    font-size: 14px;
  }

  .order__content {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    margin-bottom: 20px;
  }

  .form {
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .form__input-wrap {
    margin-bottom: 25px;
  }

  .form__input {
    font-size: 20px;
  }

  .form__example {
    top: -15px;
    right: 25px;
    font-size: 12px;
  }

  .lable-invalid {
    position: absolute;
    top: -15px;
    left: 25px;
    font-size: 12px;
  }
}
